.header {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 375px) {
    width: 375px;
  }

  @media (min-width: 768px) {
    padding: 0 32px;
    width: 768px;
  }

  @media (min-width: 1200px) {
    padding: 0 40px;
    width: 1200px;
  }
}

.wrap {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #6a5acd;
}

.btnWrap {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 30px;
  padding: 5px 4px 4px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.button:hover,
.button:active {
  background-color: #c3bdeb;
}

.disabledButton {
  width: 40px;
  height: 30px;
  padding: 5px 4px 4px;
  background-color: white;
  border: none;
  border-radius: 8px;
  opacity: 0.7;
  cursor: not-allowed;
}

.inputWrap {
  margin-left: auto;
  position: relative;
}

.input {
  width: 200px;
  height: 30px;
  padding: 4px;
  padding-left: 60px;
  background-color: white;
  border: transparent;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.label {
  position: absolute;
  top: 18%;
  left: 14%;
  cursor: pointer;
}

.svg {
  color: gray;
}
