.item {
  height: 70px;
  border-bottom: 1px solid grey;
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
}

.itemSelected {
  background-color: #c3bdeb;
}

.text {
  height: 23px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
}

.time {
  font-size: 16px;
  color: #4d4d4d;
}
